@model CIS4290_App.Models.ApiData

@{
    ViewData["Title"] = "GetMembers";
}

<h1>GetMembers</h1>

<h4>ApiData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetMembers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="value" class="control-label"></label>
                <input asp-for="value" class="form-control" />
                <span asp-validation-for="value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="path" class="control-label"></label>
                <input asp-for="path" class="form-control" />
                <span asp-validation-for="path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="op" class="control-label"></label>
                <input asp-for="op" class="form-control" />
                <span asp-validation-for="op" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CardNumber" />
            <div class="form-group">
                <label asp-for="ExpDate" class="control-label"></label>
                <input asp-for="ExpDate" class="form-control" />
                <span asp-validation-for="ExpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Csv" class="control-label"></label>
                <input asp-for="Csv" class="form-control" />
                <span asp-validation-for="Csv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
