<!--DOCTYPE html-->
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->

    @{
        ViewData["Title"] = "Home Page";
    }


    <div class="mfn-main-slider mfn-rev-slider">
        <p class="rs-p-wp-fix"></p>
        <rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
            <rs-module id="rev_slider_1_1" style data-version="6.2.17">
                <rs-slides>
                    <rs-slide data-key="rs-1" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                        <img src="~/content/home3/images/transparent.png" title="Home" class="rev-slidebg">
                        <rs-layer id="slider-1-slide-1-layer-0" data-type="shape" data-rsp_ch="on" data-xy="x:r,r,c,c;xo:40px,40px,0,40px;" data-text="w:normal;s:20,20,10,10;l:0,0,12,12;" data-dim="w:1080px,1080px,698px,698px;h:700px,700px,600px,600px;" data-border="bor:10px,10px,10px,10px;"
                            data-frame_0="x:-175%;o:1;" data-frame_0_mask="u:t;x:100%;" data-frame_1="e:power3.out;sp:1000;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:8000;" style="z-index:8;background-color:rgba(246,243,227,0.5);">
                            <rs-bg-elem style="background: url('content/home3/images/home3-slider-pic1.jpg') no-repeat center center; background-size: cover;"></rs-bg-elem>
                        </rs-layer>
                        <rs-layer id="slider-1-slide-1-layer-1" data-type="text" data-color="#000000" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:40px,40px,0,40px;yo:280px,280px,282px,282px;" data-text="w:normal;s:70,70,50,50;l:70,70,50,50;" data-padding="t:15,15,8,8;r:20,20,11,11;b:15,15,8,8;l:20,20,11,11;"
                            data-border="bor:10px,10px,10px,10px;" data-frame_0="x:50,50,26,26;" data-frame_1="st:200;sp:800;sR:200;" data-frame_999="o:0;st:w;sR:8000;" style="z-index:11;background-color:#d4fdfc;font-family:Josefin Sans;">
                            just for you
                        </rs-layer>
                        <rs-layer id="slider-1-slide-1-layer-2" data-type="text" data-color="#000000" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:40px,40px,0,40px;yo:90px,90px,160px,160px;" data-text="w:normal;s:70,70,50,50;l:70,70,50,50;" data-padding="t:15,15,8,8;r:20,20,11,11;b:15,15,8,8;l:20,20,11,11;"
                            data-border="bor:10px,10px,10px,10px;" data-frame_0="x:50,50,26,26;" data-frame_1="st:100;sp:800;sR:100;" data-frame_999="o:0;st:w;sR:8100;" style="z-index:9;background-color:#d4fdfc;font-family:Josefin Sans;">
                            Lofty 
                        </rs-layer>
                        <rs-layer id="slider-1-slide-1-layer-3" data-type="text" data-color="#000000" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:40px,40px,0,40px;yo:181px,181px,219px,219px;" data-text="w:normal;s:70,70,50,50;l:70,70,50,50;" data-padding="t:15,15,8,8;r:20,20,11,11;b:15,15,8,8;l:20,20,11,11;"
                            data-border="bor:10px,10px,10px,10px;" data-frame_0="x:50,50,26,26;" data-frame_1="st:150;sp:800;sR:150;" data-frame_999="o:0;st:w;sR:8050;" style="z-index:10;background-color:#d4fdfc;font-family:Josefin Sans;">
                            Furnitures
                        </rs-layer>
                        <rs-layer id="slider-1-slide-1-layer-4" data-type="text" data-color="#000000" data-rsp_ch="on" data-xy="xo:45px,45px,23px,23px;yo:424px,424px,227px,227px;" data-text="w:normal;s:18,18,9,9;l:28,28,14,14;" data-dim="w:250px,250px,133px,133px;" data-vbility="t,t,f,t"
                            data-frame_0="x:50,50,26,26;" data-frame_1="st:250;sp:800;sR:250;" data-frame_999="o:0;st:w;sR:7950;" style="z-index:12;font-family:Josefin Sans;">
                            You want it, we'll make it. Furniture created by in-house professionals.
                        </rs-layer><a id="slider-1-slide-1-layer-5" class="rs-layer rev-btn" href="~/content/home3/shop.html" target="_self" rel="nofollow" data-type="button" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:42px,42px,0,42px;yo:548px,548px,377px,377px;"
                            data-text="w:normal;s:18;l:55;" data-dim="minh:0px,0px,none,0px;" data-padding="r:30;l:30;" data-frame_0="x:50,50,26,26;" data-frame_1="st:300;sp:800;sR:300;" data-frame_999="o:0;st:w;sR:7900;" data-frame_hover="bgc:#232323;bor:0px,0px,0px,0px;sp:200;e:power1.inOut;"
                            style="z-index:13;background-color:rgba(0,0,0,1);font-family:Josefin Sans;">See our products </a>
                    </rs-slide>
                </rs-slides>
            </rs-module>

        </rs-module-wrap>
    </div>
            
        
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section  equal-height-wrap full-width-ex-mobile" style="padding-top:50px;padding-bottom:20px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-fifth  column-margin-10px valign-middle clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <p style="font-size: 20px;">
                                                <a href="#"><i class="icon-twitter" style="color:#000"></i></a><a href="#"><i class="icon-facebook" style="color:#000"></i></a><a href="#"><i class="icon-skype" style="color:#000"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap  three-fifth  column-margin-10px valign-middle clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one-third column_column">
                                        <div class="column_attr clearfix mobile_align_center">
                                            <h3 style="margin: 0;"><span class="counter-inline animate-math"><span class="number" data-to="35">35</span></span><sup>DAYS</sup></h3>
                                            <p style="color: #808080;">
                                                Average time it takes for custom orders to be made
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one-third column_column">
                                        <div class="column_attr clearfix mobile_align_center">
                                            <h3 style="margin: 0;"><span class="counter-inline animate-math"><span class="number" data-to="99">99</span></span><sup>USD</sup></h3>
                                            <p style="color: #808080;">
                                                Get your order delivered as soon as it's completed
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one-third column_column">
                                        <div class="column_attr clearfix mobile_align_center">
                                            <h3 style="margin: 0;"><span class="counter-inline animate-math"><span class="number" data-to="24">24</span></span><sup>HOURS</sup></h3>
                                            <p style="color: #808080;">
                                                Around the clock customer support
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one-fifth  column-margin-10px valign-middle clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h6><a href="#start" class="scroll">SCROLL FOR MORE <i class="icon-down-open"></i></a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section bg-contain" id="start" style="padding-top:110px;padding-bottom:30px;background-image:url(content/home3/images/home3-sectionbg1.png);background-repeat:no-repeat;background-position:center">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one  valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one-fourth column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="~/content/home3/images/home3-home-pic1.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column three-fourth column_column">
                                        <div class="column_attr clearfix">
                                            <h2 class="home3-heading">
                                                <mark>
                                                    Perfect finish, best materials
                                                </mark></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one  valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one-fourth column_placeholder">
                                        <div class="placeholder">
                                            &nbsp;
                                        </div>
                                    </div>
                                    
                                    <div class="column mcb-column one column_divider">
                                        <hr class="no_line" style="margin:0 auto 50px">
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one  valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <div class="woocommerce columns-3">
                                                <div class="products_wrapper isotope_wrapper">
                                                    <ul class="products">
                                                        <li class="product-category product first">
                                                            <a href="~/content/home3/product-category.html"><img src="~/content/home3/images/home3-home-pic3-480x480.jpg" width="480" height><h2 class="woocommerce-loop-category__title"> Accessories
                                                                <mark class="count">
                                                                    (6)
                                                                </mark></h2> </a>
                                                        </li>
                                                        <li class="product-category product">
                                                            <a href="~/content/home3/product-category.html"><img src="~/content/home3/images/home3-home-pic2-480x480.jpg" width="480" height><h2 class="woocommerce-loop-category__title"> Furniture
                                                                <mark class="count">
                                                                    (7)
                                                                </mark></h2> </a>
                                                        </li>
                                                        <li class="product-category product last">
                                                            <a href="~/content/home3/product-category.html"><img src="~/content/home3/images/home3-home-pic4-480x480.jpg" width="480" height><h2 class="woocommerce-loop-category__title"> Lighting
                                                                <mark class="count">
                                                                    (5)
                                                                </mark></h2> </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <hr class="mb-4">

                
                </div>
                <div class="section mcb-section" style="padding-top:110px;padding-bottom:70px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_shop_slider">
                                    <div class="shop_slider" data-count="5">
                                        <div class="blog_slider_header">
                                            <h4 class="title">New products</h4>
                                        </div>
                                        <ul class="shop_slider_ul">
                                            <li class="product type-product has-post-thumbnail product_cat-accessories product_cat-lighting first instock shipping-taxable purchasable product-type-simple">
                                                <div class="item_wrapper">
                                                    <div class="image_frame scale-with-grid product-loop-thumb">
                                                        <div class="image_wrapper">
                                                            <a href="~/content/home3/product.html">
                                                                <div class="mask"></div><img width="480" height="443" src="~/content/home3/images/home3-products-pic1-1-480x443.jpg" class="scale-with-grid wp-post-image" alt></a>
                                                            <div class="image_links">
                                                                <a class="link" href="~/content/home3/product.html"><i class="icon-link"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc">
                                                        <h4><a href="~/content/home3/product.html">Aliquam Lamp BE20</a></h4><span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>149.00</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="product type-product has-post-thumbnail product_cat-accessories product_cat-furniture  instock shipping-taxable purchasable product-type-simple">
                                                <div class="item_wrapper">
                                                    <div class="image_frame scale-with-grid product-loop-thumb">
                                                        <div class="image_wrapper">
                                                            <a href="~/content/home3/product.html">
                                                                <div class="mask"></div><img width="480" height="443" src="~/content/home3/images/home3-products-pic2-480x443.jpg" class="scale-with-grid wp-post-image" alt></a>
                                                            <div class="image_links">
                                                                <a class="link" href="~/content/home3/product.html"><i class="icon-link"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc">
                                                        <h4><a href="~/content/home3/product.html">Integer Chair PRO5</a></h4><span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>299.00</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="product type-product has-post-thumbnail product_cat-furniture product_cat-lighting last instock shipping-taxable purchasable product-type-simple">
                                                <div class="item_wrapper">
                                                    <div class="image_frame scale-with-grid product-loop-thumb">
                                                        <div class="image_wrapper">
                                                            <a href="~/content/home3/product.html">
                                                                <div class="mask"></div><img width="480" height="443" src="~/content/home3/images/home3-products-pic3-480x443.jpg" class="scale-with-grid wp-post-image" alt></a>
                                                            <div class="image_links">
                                                                <a class="link" href="~/content/home3/product.html"><i class="icon-link"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc">
                                                        <h4><a href="~/content/home3/product.html">Sed Chair MG18</a></h4><span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>670.00</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="product type-product has-post-thumbnail product_cat-accessories product_cat-furniture first instock shipping-taxable purchasable product-type-simple">
                                                <div class="item_wrapper">
                                                    <div class="image_frame scale-with-grid product-loop-thumb">
                                                        <div class="image_wrapper">
                                                            <a href="~/content/home3/product.html">
                                                                <div class="mask"></div><img width="480" height="443" src="~/content/home3/images/home3-products-pic9-480x443.jpg" class="scale-with-grid wp-post-image" alt></a>
                                                            <div class="image_links">
                                                                <a class="link" href="~/content/home3/product.html"><i class="icon-link"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc">
                                                        <h4><a href="~/content/home3/product.html">Sagittis Chair PRO6</a></h4><span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>320.00</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="product type-product has-post-thumbnail product_cat-furniture product_cat-lighting  instock shipping-taxable purchasable product-type-simple">
                                                <div class="item_wrapper">
                                                    <div class="image_frame scale-with-grid product-loop-thumb">
                                                        <div class="image_wrapper">
                                                            <a href="~/content/home3/product.html">
                                                                <div class="mask"></div><img width="480" height="443" src="~/content/home3/images/home3-products-pic8-480x443.jpg" class="scale-with-grid wp-post-image" alt></a>
                                                            <div class="image_links">
                                                                <a class="link" href="~/content/home3/product.html"><i class="icon-link"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc">
                                                        <h4><a href="~/content/home3/product.html">Dolor Chair MG15</a></h4><span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>570.00</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
        
    
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="extras">
            <a href="#" class="action_button">MY ACCOUNT <i class="icon-right-open"></i></a>
            <div class="extras-wrapper">
                <a class="icon cart" id="slide-cart" href="#"><i class="icon-bag-fine"></i><span>0</span></a><a class="icon search" href="#"><i class="icon-search-fine"></i></a>
            </div>
        </div>
        <div class="menu_wrapper"></div>
    </div>
    <div id="body_overlay"></div>


    <!-- JS -->
    <script src="js/jquery-2.1.4.min.js"></script>

    <script src="js/mfn.menu.js"></script>
    <script src="js/jquery.plugins.js"></script>
    <script src="js/jquery.jplayer.min.js"></script>
    <script src="js/animations/animations.js"></script>
    <script src="js/translate3d.js"></script>
    <script src="js/scripts.js"></script>

    <script src="plugins/rs-plugin-6.custom/js/revolution.tools.min.js"></script>
    <script src="plugins/rs-plugin-6.custom/js/rs6.min.js"></script>


    <script>
    var revapi1, tpj;
    jQuery(function() {
    tpj = jQuery;
    revapi1 = tpj("#rev_slider_1_1");
    if (revapi1 == undefined || revapi1.revolution == undefined) {
    revslider_showDoubleJqueryError("rev_slider_1_1");
    } else {
    revapi1.revolution({
        sliderType :"hero",
        sliderLayout :"fullwidth",
        visibilityLevels :"1240,1240,778,778",
        gridwidth :"1450,1450,778,778",
        gridheight :"700,700,600,600",
        spinner :"spinner8",
        perspective : 600,
        perspectiveType :"global",
        spinnerclr :"#000000",
        editorheight :"700,768,600,720",
        responsiveLevels :"1240,1240,778,778",
        progressBar : {
            disableProgressBar : true
        },
        navigation : {
            onHoverStop : false
        },
        fallbacks : {
            allowHTML5AutoPlayOnAndroid : true
        },
    });
    }
    });
    </script>

    

</html>

